/****************************
BasicStyling
*****************************/

body {
  margin: 0;
  color: #717f86;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  color: #4B4B4C;
}
a{
  color: #1E88E5;
}
a:hover, a:focus{
  color: #1E88E5;
}

/***********************************
Navigation bar
************************************/
.navbar-default .navbar-brand {
  color: #1E88E5;
}
.navbar-default {
  background-color: #222;
}
.course-text{
  padding: 84px;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}
.navbar-nav > li > a{
  padding: 0px;
  margin: 10px 5px;
  padding: 10px 15px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover
{
  color: #1E88E5;
}

.navbar-nav .active a{
  background: none !important;
  color: #1E88E5 !important;
  outline: none;
}

.navbar-default .navbar-brand {
  font-family: 'Dosis', sans-serif !important;
  font-weight: 700;
  padding: 0px;
  height: inherit;
  font-size: 36px;
  margin: 20px 0px;
}
.navbar-default .navbar-brand span{
  font-weight: 100 !important;
}
.navbar {
  margin-bottom: 0px;
}

/***********************************
Banner
************************************/
.banner{
  background: url('../img/banner1.png') no-repeat center top;
  background-size: cover;
  min-height: 580px;
  position: relative;
}
.bg-color{
  background-color: RGBA(12, 11, 11, 0.82);
  min-height: 580px;
}
.text-dec{
  font-size: 40px;
  padding: 10px 20px;
  margin: 15px 0;
  color: #fff;
}
.text-border{
  display: inline-block;
  margin-top: 150px;
}
.intro-para{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 45px;
  color: #fff;
  margin-top: 30px;
}
.quote .btn{
  background-color:
}

.big-text{
  font-size: 35px;
}
.small-text{
  font-size: 25px;
}

/***********************************
Responsive media queries
***********************************/

@media (min-width: 20px) and (max-width: 450px) {
    .text-dec {
    font-size: 20px;
    }
    .big-text {
    font-size: 30px;
    }
    .small-text {
    font-size: 14px;
    }
    .intro-para {
    font-size: 30px;
    }
    .header-section p{
        font-size: 14px;
    }
    .heading {
    margin-bottom: 20px;
    }
    .modal-sm {
    width: 300px;
    }
    .navbar-default .navbar-brand{
        margin-left: 10px;
    }
    .navbar-default .navbar-nav > li > a{
        text-align: center;
    }
}
