/****************************
BasicStyling
*****************************/

body {
  margin: 0;
}

header {
  background-color: #222;
  overflow: hidden;
}

/***********************************
Navbar
************************************/
.navContainer {
  width: 80%;
  margin: 0 auto;
}

nav {
  float: right;
}

.logo {
  float: left;
  color: white;
  padding-top: 18px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 0;
}

.navRight {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.navlink {
  display: inline-block;
  margin-left: 35px;
  position: relative;
}

.navlink a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 0;
}

.dividerVertical
{
  display: inline;
  height: 40px;
  width: 1px;
  margin: 0 10px;
  padding: 2px 0;
  margin-left:40px;
  background-color: #DDD;
  border-right: 1px solid #FFF;
  overflow: hidden;
}

nav a::after
{
  content: '';
  display: block;
  width: 0%;
  background-color: white;
  height: 1px;
  position: absolute;
  transition: all ease-in-out 250ms;
}

nav a:hover::after {
  width:100%
}

/***********************************
Banner
************************************/
.banner{
  background: url('../img/banner2.jpg') no-repeat center top;
  background-size: 100%;
  position: relative;
}
.bg-color{
  background-color: RGBA(12, 11, 11, 0.82);
  min-height: 485px;
}
.text-dec{
  font-size: 40px;
  padding: 10px 20px;
  margin: 15px 0;
  color: #fff;
}
.text-border{
  display: inline-block;
  margin-top: 80px;
}
.intro-para{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 45px;
  color: #fff;
  margin-top: 20px;
}

.big-text{
  font-size: 35px;
}
.small-text{
  font-size: 25px;
}
