/*
 Basic Styling
*/

body {
  margin: 0;
}

.navContainer {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #222;
  overflow: hidden;
  font-weight: bold;
}

nav {
  float: right;
}

.logo {
  float: left;
  color: white;
  padding-top: 25px;
}

.navRight {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

.navlink {
  display: inline-block;
  margin-left: 35px;
  position: relative;
}

.navlink a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 0;
}

.dividerVertical
{
  display: inline;
  height: 40px;
  width: 1px;
  margin: 0 10px;
  margin-left:35px;
  background-color: #DDD;
  border-right: 2px solid #FFF;
  overflow: hidden;
}

nav a::after
{
  content: '';
  display: block;
  width: 0%;
  background-color: white;
  height: 1px;
  position: absolute;
  transition: all ease-in-out 200ms;
}

nav a:hover::after {
  width:100%
}
