/****************************
BasicStyling
*****************************/

body, html {
  margin: 0;
  color: #717f86;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  color: #4B4B4C;
}

a {
  color: #ffffff;
}

a:hover, a:focus {
  color: #1E88E5;
}

/***********************************
Navigation bar
************************************/

.navbar-brand>embed, img {
  padding: 2px 2px;
  width: 100%;
  margin: 1px 20px;
}

.navbar-brand {
  display: inline-block;
  width: 196px;
}

.navbar-default {
  color: #000000;
  z-index: 2;
}

#open {
  color: rgb(56, 56, 56);
}

.navbar-default {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 0.5px #000;
  border-bottom: none;
}

.course-text {
  padding: 84px;
}

.navbar-default .navbar-nav>li>a {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
}

.navbar-nav>li>a {
  padding: 0px;
  margin: 10px 5px;
  padding: 10px 15px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, open:hover {
  color: rgb(65, 65, 65);
}

.navbar-nav .active a {
  background: none !important;
  color: #1E88E5 !important;
  outline: none;
}

.navbar-default .navbar-brand {
  font-family: 'Dosis', sans-serif !important;
  font-weight: 700;
  padding: 0px;
  height: inherit;
  font-size: 36px;
}

.navbar-default .navbar-brand span {
  font-weight: 100 !important;
}

.navbar {
  margin-bottom: 0px;
}

.navlink {
  display: inline-block;
  /* margin-left: 35px; */
  position: relative;
}

.navlink a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 0;
}

/***********************************
Banner
************************************/

.banner {
  min-height: 400px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.dark h1 {
  font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
  font-size: 8vw;
  align-self: flex-end;
  margin-bottom: 48px;
  color: #fff;
}

.dark img {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: darken;
}

.dark {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  min-height: 200px;
  height: 100%;
  position: relative;
}

.bg-color {
  background-color: RGBA(0, 0, 0, 0.70);
  min-height: 200px;
  height: 100%;
  z-index: 1;
}

.text-dec {
  font-size: 40px;
  padding: 10px 20px;
  margin: 15px 0;
  color: #fff;
}

.text-border {
  display: inline-block;
  margin-top: 150px;
}

.intro-para {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 45px;
  color: #fff;
  margin-top: 30px;
}

.big-text {
  font-size: 35px;
}

.small-text {
  font-size: 25px;
}

/***********************************
About Section
************************************/

#aboutContainer {
  height: 100%;
  width: 100%;
  color: #303442;
  padding-top: 65px;
  padding-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contentHeader {
  text-align: center;
  font-size: 3em;
  padding-top: 30px;
  padding-bottom: 30px;
  color: black;
}

.aboutIcons {
  font-size: 10em;
}

.rounded-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: black;
}

/***********************************
Project Section
************************************/

#projectContainer {
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 65px;
  padding-bottom: 40px;
}

.box {
  background: #fff;
  transition: all 0.2s ease;
  border: 2px dashed #dadada;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 0 20px 20px 20px;
  min-height: 340px;
}

.box:hover {
  border: 2px solid #525C7A;
}

.box span.box-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.box .box-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}

.box .box-content p {
  color: #515c66;
  text-transform: none;
}

.repoLink {
  width: 134px;
  margin-left: auto;
  margin-right: auto;
  color: white !important;
}

.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.btn-social :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-github {
  color: #fff;
  background-color: #575757;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
  color: #fff;
  background-color: #303030;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active, .btn-github.active, .open .dropdown-toggle.btn-github {
  background-image: none
}

/***********************************
Footer
***********************************/

.footerhead {
  margin: 0px;
  background-color: black;
  color: white;
  height: auto;
  text-align: center;
  border-top: 1px solid white;
}

.footerWrapper {
  display: block;
}

.row1 {
  float: left;
}

.row2 {
  text-align: left;
  padding-left: 10px;
  margin-right: 0;
  width: auto;
}

.footerhead h3 {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 6px;
  margin-bottom: 6px;
  color: white;
}

.footerNav {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.footerhead ul.quick-links li {
  padding: 8px 0;
  text-align: left;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

.footerhead ul.quick-links li:hover {
  padding: 8px 0;
  margin-left: 5px;
  margin-right: -5px;
  font-weight: 700;
}

.footerhead ul.quick-links li a i {
  margin-right: 5px;
}

.footerhead ul.quick-links li:hover a i {
  font-weight: 700;
}

.medialink-container {
  display: inline;
  font-size: 30px;
}

#spacing {
  margin-right: 15%;
}

.socialIcons {
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 32px 10px;
}

.fa {
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0px 10px;
}

.fa:hover {
  opacity: 0.80;
  text-decoration: none;
}

.fa-facebook, .fa-github {
  color: #ffffff;
}

.fa-facebook:focus, .fa-github:focus, .fa-facebook:hover, .fa-github:hover {
  color: #1E88E5;
}

.footerend {
  margin: 0px;
  background-color: black;
  padding: 1px;
  color: white;
  text-align: center;
}

.footerlink a {
  color: #1E88E5;
}

.footerlink a:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: #222;
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  margin: 0 auto;
}

footer section {
  text-align: center;
}

.social {
  padding-top: 10px;
  text-align: center;
}

.social-link {
  padding: 10px 20px 0px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  color: #999999;
}

.social-link:hover {
  color: #e0e0e0;
}

/***********************************
Responsive media queries
***********************************/

@media (min-width: 20px) and (max-width: 450px) {
  .text-dec {
    font-size: 20px;
  }
  .big-text {
    font-size: 30px;
  }
  .small-text {
    font-size: 14px;
  }
  .intro-para {
    font-size: 30px;
  }
  .header-section p {
    font-size: 14px;
  }
  .heading {
    margin-bottom: 20px;
  }
  .modal-sm {
    width: 300px;
  }
  .navbar-default .navbar-brand {
    margin-left: 10px;
  }
  .banner {
    background-attachment: scroll;
  }
}

@media (min-width: 20px) and (max-width: 767px) {
  .navbar-default .navbar-nav>li>a {
    text-align: center;
  }
}

@media (min-width: 460px) and (max-width: 767px) {
  .footerWrapper {
    margin-left: 10%;
  }
}

@media (max-width: 459px) {
  .footerWrapper {
    font-size: 14px;
  }
  .footerhead h3 {
    font-size: 20px;
  }
  #spacing {
    margin-right: 17%;
  }
  #rights {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .smallScreenBottom {
    margin-left: 25%;
  }
}

@media (min-width: 768px) and (max-width: 867px) {
  .navbar-default .navbar-nav>li>a {
    font-size: 14px;
  }
  .navbar-default .navbar-nav>li {
    margin: 0 -5px;
  }
}

@media (min-width: 768px) {
  .row2 {
    float: right;
    width: auto;
  }
}

@media (max-width: 1199px) {
  #aboutContainer {
    height: auto;
  }
  .aboutColumn {
    padding-bottom: 25px;
  }
}

@media (max-width: 700px) {
  .box .box-content p {
    text-align: justify;
  }
}

@media (max-width: 450px) {
  .tag-title {
    font-size: 23px;
  }
}
